<div id="aniback">
    <div class="container">
        
        <div class='row' id='animals'>
            <div class="one-third column"><a href="#">Orrszarvú<img src="./img/rhino.jpg" class="rhino"></a></div>

            <div class="one-third column"><a href="#">Hegyi Kos<img src="./img/ram.jpg" class="ram"></a></div>

            <div class="one-third column"><a href="#">Vaddisznó<img src="./img/boar.jpg" class="boar"></a></div>
        </div>
        <button id="contactUs">Contact Us</button>                   
        <div id="dialog" title="hello!">
            <p>appear now</p> 
        </div>
        <div id="tester" > testing </div>
    </div>

</div>
