<div class="aniback"></div>
<homeNav1>
    <trap1 ui-sref="home"></trap1>
    <p ui-sref="battle">HOME</p>
</homeNav1>
<homeNav2>
    <trap2 ui-sref="battle"></trap2>
    <p ui-sref="battle">ARENA</p>
</homeNav2>
        <p class="anintro">Animals</p>
<div class='animals'>
    <div class='col box1'>
        <div class="colChild">
            <p>{{animals[0].species}}</p>
            <img src="../assets/rhino.jpg">
            <p>What's my nose?</p>
            <button onClick="play('rhino')"><i class="fas fa-volume-up"></i></button>
        </div>
        <ul>{{animals[0].fact}}</ul>
        <ul>{{animals[0].strengths}}</ul>
        <ul>{{animals[0].weakness}}</ul>
        <ul>{{animals[0].family}}</ul>
        <ul>{{animals[0].habitat}}</ul>
    </div>
    <div class='col box2'>
        <div class="colChild">
            <p>{{animals[4].species}}</p><img src="../assets/ram.jpg">
            <p>I'm a Sheep?!</p>
            <button onClick="play('sheep')"><i class="fas fa-volume-up"></i></button>
        </div>
        <ul>{{animals[4].fact}}</ul>
        <ul>{{animals[4].strengths}}</ul>
        <ul>{{animals[4].weakness}}</ul>
        <ul>{{animals[4].family}}</ul>
        <ul>{{animals[4].habitat}}</ul>
    </div>
    <div class='col box3'>
        <div class="colChild">
            <p>{{animals[1].species}}</p><img src="../assets/boar.jpg">
            <p>Don't call me Pig!</p>
            <button onClick="play('pig')"><i class="fas fa-volume-up"></i></button>
        </div>
        <ul>{{animals[1].fact}}</ul>
        <ul>{{animals[1].strengths}}</ul>
        <ul>{{animals[1].weakness}}</ul>
        <ul>{{animals[1].family}}</ul>
        <ul>{{animals[1].habitat}}</ul>
    </div>
        <div class='col box4'>
        <div class="colChild">
            <p>{{animals[2].species}}</p><img src="../assets/gorilla.jpg">
            <p>I eat more than Bananas</p>
            <button onClick="play('gorilla')"><i class="fas fa-volume-up"></i></button>
        </div>
        <ul>{{animals[2].fact}}</ul>
        <ul>{{animals[2].strengths}}</ul>
        <ul>{{animals[2].weakness}}</ul>
        <ul>{{animals[2].family}}</ul>
        <ul>{{animals[2].habitat}}</ul>
    </div>    

    <div class='col box5'>
        <div class="colChild">
            <p>{{animals[3].species}}</p><img src="../assets/crocodile.jpg">
            <p>Me hungry You Yummy</p>
            <button onClick="play('crocodile')"><i class="fas fa-volume-up"></i></button>
        </div>
        <ul>{{animals[3].fact}}</ul>
        <ul>{{animals[3].strengths}}</ul>
        <ul>{{animals[3].weakness}}</ul>
        <ul>{{animals[3].family}}</ul>
        <ul>{{animals[3].habitat}}</ul>
    </div>
    <div class='col box6'>
        <div class="colChild">
            <p>{{animals[5].species}}</p><img src="../assets/tiger.jpg">
            <p>Night Time = Best Time</p>
            <button onClick="play('tiger')"><i class="fas fa-volume-up"></i></button>
        </div>
        <ul>{{animals[5].fact}}</ul>
        <ul>{{animals[5].strengths}}</ul>
        <ul>{{animals[5].weakness}}</ul>
        <ul>{{animals[5].family}}</ul>
        <ul>{{animals[5].habitat}}</ul>
    </div>
    
</div>






<audio id='pig' src="../assets/pig.wav"></audio>
<audio id='rhino'src="../assets/rhino.wav"></audio>
<audio id='rhino2' src="../assets/rhino2.wav"></audio>
<audio id='sheep' src="../assets/sheep.wav"></audio>
<audio id='crocodile' src="../assets/crocodile.wav"></audio>
<audio id='tiger' src="../assets/tiger.wav"></audio>
<audio id='gorilla' src="../assets/gorilla.wav"></audio>

<script>
var play = function(x){
       var audio = document.getElementById(x);
       audio.pause();
       audio.currentTime = 0;
       audio.play();
 }
</script>