<homeNav1>
        <trap1 ui-sref="animals"></trap1>
        <p>ANIMALS</p>
    </homeNav1>
    <homeNav2>
        <trap2 ui-sref="home"></trap2>
        <p>HOME</p>
    </homeNav2>
<div class="arena" directive>

<div class="preface">
    <div id="aImage">VÁLASZD A BAJNOKOD</div>
    <div>VS</div>
    <div id="bImage">VÁLASZD A HÖSÖD</div>
</div>
<div class="fighters">
    <button id="clear">kitörölni</button>
    <button id="addBoar">Vaddisznó</button>
    <button id="addRhino">orrszarvú</button>
    <button id="fight">küzdeni</button>
    <button id="addBoar2">vaddisznó</button>
    <button id="addRhino2">orrszarvú</button>
    <button id="clear2">kitörölni</button>
</div>
</div>
</div>