<video autoplay muted loop id="myVideo" src="../assets/desert.mp4"></video>
<homeNav1>
    <trap1 ui-sref="animals"></trap1>
    <p>ANIMALS</p>
</homeNav1>
<homeNav2>
    <trap2 ui-sref="home"></trap2>
    <p>HOME</p>
</homeNav2>

<div directive>
    <div class="results">
        <p class="result1">hi</p>
        <p></p>
        <p class="result2">hi</p>
    </div>
    <div class="preface">
        <div id="aImage">VÁLASZD A BAJNOKOD</div>
        <div class="VS">VS</div>
        <div id="bImage">VÁLASZD A HÖSÖD</div>
    </div>
    <div class="fighters">
        <p id="clear">kitörölni</p>
        <p id="addBoar">Vaddisznó</p>
        <p id="addRhino">orrszarvú</p>
        <p id="fight">küzdeni</p>
        <p id="addBoar2">vaddisznó</p>
        <p id="addRhino2">orrszarvú</p>
        <p id="clear2">kitörölni</p>
    </div>
</div>