<video autoplay muted loop class="myVideo" src="../assets/tree.mp4"></video>
<homeNav1>
    <trap1 ui-sref="battle"></trap1>
    <p>ARENA</p>
</homeNav1>
<homeNav2>
    <trap2 ui-sref="animals"></trap2>
    <p>ANIMALS</p>
</homeNav2>
<div class="welcome">Üdvözlünk a Vadállat Kűzdöterében!
    <p>Welcome balh baldk lskgjlakjg</p>
</div>
<div class="facts1">
    <p id='fact1'>What Could I Be?</p>
    <p id='fact2'>What Anima</p>
</div>
<div class="quoteButton">
    <button ng-click="facts()" style="width: 100px; height:100px;">Click Me!</button>
</div>

<div class="facts2">
    <p id='fact3'>Jargan i am</p>
</div>