<video autoplay muted loop class="myVideo" src="../assets/desert.mp4"></video>
<homeNav1>
    <trap1 ui-sref="animals"></trap1>
    <p>ANIMALS</p>
</homeNav1>
<homeNav2>
    <trap2 ui-sref="home"></trap2>
    <p>HOME</p>
</homeNav2>
<div class="videoholder">
    <iframe id="videoPlayer" width="560" height="315" src="https://www.youtube.com/embed/R02QrS2aCDM" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>


    <div class="vidmenu">
        <button ng-click="video('https://www.youtube.com/embed/R02QrS2aCDM')">Rhino</button>
        <button ng-click="video('https://www.youtube.com/embed/-CFtIKfYDv0')">Wild Boar</button>
        <button ng-click="video('https://www.youtube.com/embed/zj8istSAMoY')">Mountain Ram</button>
        <button ng-click="video('https://www.youtube.com/embed/rHhSCO5-3Pg')">Gorilla</button>
        <button ng-click="video('https://www.youtube.com/embed/4h9re1bHt40')">Crocodile</button>
        <button ng-click="video('https://www.youtube.com/embed/zj8istSAMoY')">Tiger</button>
    </div>
</div>