<video autoplay muted loop id="myVideo" src="../assets/desert.mp4"></video>
<homeNav1>
    <trap1 ui-sref="animals"></trap1>
    <p>ANIMALS</p>
</homeNav1>
<homeNav2>
    <trap2 ui-sref="home"></trap2>
    <p>HOME</p>
</homeNav2>

<iframe id="videoPlayer" width="560" height="315" src="https://www.youtube.com/embed/R02QrS2aCDM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<div>animals
    <button ng-click="video(cat)">Rhino</button>
    <button ng-click="video(dog)">Wild Boar</button>
    <button ng-click="video(answer)">Mountain Ram</button>
    <button>Lion</button>
    <button>Albatross</button>


</div>