.anintro{
    text-align: center;
    padding-top:5%;
    font-size: 50px;
    color: white;
}
.aniback{
    position: fixed;
    background-image: url('https://source.unsplash.com/collection/138471/in-thewild');
    background-size:cover;
    height:100%;
    width: 100%;
    z-index: -10;
}
.animals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
    width: 80%;
    margin-left:10%;
    padding-top:8vh;
}
.col{
    border-radius: 10px;
    background-color: rgb(144, 231, 4);
    height: 260px;
    width: 300px;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    margin:20px;
}
.col p{font-size: 25px;}
.col ul{font-size:18px; margin-left: 20px; margin-top: 5px;}
.col:hover{height:400px;}
.colChild{text-align: center;}
.row a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
#rhinodialog{
   position: absolute;
    display:none;
    font-size:20px;
    background-color:orange;
    border: 3px solid black;
    padding:10px 10px 10px 10px;
    color: black;
    border-radius:10px;
}
#rhinodialog h2{
    color: black;
}
#rhinodialog p{
     width: 500px;
    word-wrap: break-word;
   
}
#boardialog{
    position: absolute;
    display:none;
    font-size:20px;
    background-color: gray;
    border: 3px solid black;
    padding:10px 10px 10px 10px;
    color: black;
    border-radius: 10px;
}
#boardialog h2{
    color: black;
}

#boardialog p{
    width:500px;
    word-wrap: break-word;
}
