.anirow1{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
    border:4px solid blue;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.3);
    height: 270px;
    width: 275px;
    align-items: center;
    transition: all .5s;
    overflow: hidden;
}
.data{
    overflow: hidden;
}
.extended{
    height: 400px;
}
#aniback{
    background-image: url('https://source.unsplash.com/collection/138471/in-thewild');
    background-size:cover;
    height:100vh;
    width: 100vw;
    z-index: -10;
}
#animals{
    padding-top:18vh;
    text-align: center;
}
.row a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
#rhinodialog{
   position: absolute;
    display:none;
    font-size:20px;
    background-color:orange;
    border: 3px solid black;
    padding:10px 10px 10px 10px;
    color: black;
    border-radius:10px;
}
#rhinodialog h2{
    color: black;
}
#rhinodialog p{
     width: 500px;
    word-wrap: break-word;
   
}
#boardialog{
    position: absolute;
    display:none;
    font-size:20px;
    background-color: gray;
    border: 3px solid black;
    padding:10px 10px 10px 10px;
    color: black;
    border-radius: 10px;
}
#boardialog h2{
    color: black;
}

#boardialog p{
    width:500px;
    word-wrap: break-word;
}
