#photo {
    background-image: url("https://source.unsplash.com/collection/470296/wild-animals");  
    background-position: center;
    background-size: cover;
    width:100vw;
    height: 100vh;
}
#welcome{
    text-align: center;
    font-size: 35px;
    padding-top:55px;
    color:white
}
h2{
    text-align: center;
    color:white;
}

// welcome{
//     z-index: 1;
//     position:absolute;
//     font-size: 35px;
//     padding-top: 10px;
//     color: black;
//     text-align: center;
// }
// .random{
//     background-size: cover;
// }
