#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -10;
}
#welcome{
    text-align: center;
    font-size: 35px;
    padding-top:55px;
    color:white
}
h2{
    text-align: center;
    color:white;
}
.facts1{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left:10%;
    margin-top:30px;
}
.facts2{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left:10%;
    margin-top:200px;
}
#fact1{
    text-align: center;
    width: 275px;
    max-height: 1000px;
    border-radius: 4px;
    background-color: rgba(255, 5, 5, .5);
    padding:10px;
    font-size: 21px;
}
#fact2{
    text-align: center;
    width: 275px;
    max-height: 1000px;
    border-radius: 4px;
    background-color: rgba(255, 5, 5, .5);
    padding:10px;
    font-size: 21px;
}
#fact3{
    text-align: center;
    width: 275px;
    max-height: 1000px;
    border-radius: 4px;
    background-color: rgba(255, 5, 5, .5);
    padding:10px;
    font-size: 21px;
}
